.header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 4rem;
    background-color: #313131;
    color: palegoldenrod;
}

.header-h {
    padding: 1rem;
}

input {
    margin-top: 1rem;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

