.footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3rem;
    background-color: #94816A;
}

.footer-nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}