main h1 {
    padding: 1rem;
}

.main-wrap {
    color: #473219;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E0CEB8;
    border: 1px solid #94816A;
    flex: 1 0 auto;
}

.default-wrap h3, p {
    padding: .5rem;
}

button {
    border: none;
    text-decoration: none;
    background-color: inherit;
    color: #473219;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem;
}

#wrap {
    padding: 1rem;
    margin-left: 6vh;
    margin-right: 6vh;
}

footer {
    flex-shrink: 0;
}
