.landing-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    color: #473219;
    background-color: #6A8694;
}

.user, .password {
    display: flex;
    flex-direction: column;
}

.landing-wrap h1 {
    font-size: 10vw;
}

.landing-wrap button {
    font-size: 4vw;
}